.course {
	position: relative;
	overflow-x: clip;

	&__content {
		padding-top: 90px;
		margin: 0 res(50, 1170, 165, 1920);
		font-family: Poppins, sans-serif;

		@include _1170 {
			margin: 0 res(10, 320, 50, 1170);
		};


		&-title {
			font-weight: 600;
			font-size: res(26, 320, 35, 1920);
			line-height: perc(35, 35);
			margin-bottom: 15px;
			color: #000;

			@include _1170 {
				text-align: center;
			};
		}

		&-desc {
			font-weight: 400;
			font-size: 16px;
			line-height: perc(30, 16);
			color: #BDBDBD;
			margin-bottom: 67px;

			@include _1170 {
				margin-bottom: res(30, 320, 67, 1170);
				text-align: center;
			};
		}

		&-cards {
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 1;

			@include _1170 {
				flex-direction: column;
				align-items: center;
			};

			&-item {
				width: 350px;
				background: #fff;

				@include _1170 {
					width: res(280, 320, 350, 1170);
					margin-bottom: res(20, 320, 50, 1170);

					&:last-child {
						margin-bottom: 0;
					}
				};

				.img {
					margin-bottom: 15px;

					img {
						@include _1170 {
							width: res(280, 320, 350, 1170);
						};
					}
				}

				.title {
					margin-left: 16px;
					font-weight: 600;
					font-size: 17px;
					line-height: 25.5px;
					color: #000;
					margin-bottom: 10px;

					@include _1170 {
						margin-left: res(10, 320, 16, 1170)
					};
				}

				.scope {
					margin-left: 16px;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					color: #878787;
					margin-bottom: 33px;

					@include _1170 {
						margin-left: res(10, 320, 16, 1170)
					};
				}

				.info {
					display: flex;
					justify-content: space-between;
					margin-left: 30px;
					font-weight: 500;
					font-size: 14px;
					line-height: 14px;
					letter-spacing: 0.01em;

					@include _1170 {
						margin-left: res(10, 320, 30, 1170);
						font-size: res(12, 320, 14, 1170);
					};

					&__hours {
						color: #4D4D52;
						position: relative;
						padding-left: 20px;
						
						&:before {
							content: '';
							background: url("../../../assets/img/svg/watch-ico.svg") no-repeat;
							background-size: cover;
							position: absolute;
							height: 16px;
							width: 17px;
							left: 0;
							top: 0;
						} 
					}

					&__articles {
						color: #4D4D52;
						position: relative;
						padding-left: 13px;

						&:before {
							content: '';
							background: url("../../../assets/img/svg/file-ico.svg") no-repeat;
							background-size: cover;
							position: absolute;
							height: 14px;
							width: 10px;
							left: 0;
							top: 0;
						}
					}
				}

			}
		}
	}

	&__dec-img-1 {
		position: absolute;
		top: 196px;
		left: -47px;

		img {
			width: 93px;
		}
	}

	&__dec-img-2 {
		position: absolute;
		right: 0;
		bottom: 0;

		@include _1170 {
			bottom: res(-120, 320, 0, 1170);
		};

		img {
			width: 59px;
		}
	}
}