.footer {
	margin-top: 151px;
	margin-bottom: 70px;
	overflow: hidden;

	@include _1170 {
		margin-bottom: res(20, 320, 70, 1170);
	};

	&__content {
		margin-left: res(10, 320, 136, 1920);
		margin-right: res(10, 320, 74, 1920);
		display: flex;
		justify-content: space-between;

		@include _1170 {
			flex-direction: column-reverse;
			align-items: center;
		};

		&-sitemap {
			display: flex;
			width: 100%;
			justify-content: space-between;

			@include _1170 {
				margin-top: 50px;
			};

			&-section {
				font-family: Poppins, sans-serif;

				.title {
					font-weight: 600;
					font-size: res(16, 320, 20, 1920);
					line-height: perc(25, 20);
					color: #1C1C1D;
					margin-bottom: 40px;

					@include _1170 {
						text-align: center;
					};
				}

				.links {
					display: flex;
					flex-direction: column;

					font-weight: 400;
					font-size: res(14, 320, 16, 1920);
					line-height: perc(24, 16);

					@include _1170 {
						text-align: center;
					};



					.item {
						text-decoration: none;
						color: #7a7a7e;

						margin-bottom: 18px;
					}
				}

				&:last-child {
					margin-right: 130px;

					@include _1170 {
						margin-right: 0;
					};
				}
			}
		}

		&-contact {
			&-social {
				display: flex;
				justify-content: space-between;
				margin-left: 73px;
				margin-right: 20px;
				margin-bottom: 25px;

				@include _1170 {
					margin-left: 0;
					margin-right: 0;
				};

				.title {
					font-family: Poppins, sans-serif;
					font-weight: 600;
					font-size: 20px;
					line-height: 25px;
					color: #1c1c1d;
				}

				.social-list {

					.item {
						margin-left: 16px;
					}
				}
			}

			&-map {
				img {
					@include _1170 {
						width: res(300, 320, 600, 1170);
					};

				}
			}
		}
	}
}