.main {
	position: relative;
	overflow: hidden;
	height: res(950, 320, 700, 1920);

	&__content {
		position: relative;
		height: 700px;
		margin-left: res(10, 320, 115, 1920);
		display: flex;

		&-info {
			font-family: 'Poppins', sans-serif;
			z-index: 1;

			&-desc {
				margin-top: res(70, 320, 80, 1920);
				font-weight: 500;
				font-size: res(16, 320, 20, 1920);
				line-height: 30px;
				letter-spacing: 0.235em;

				color: #2F2B71;
			}

			&-title {
				margin-top: 15px;
				margin-left: -5px;
				font-weight: 700;
				font-size: res(34, 320, 70, 1920);
				line-height: 116.5%;
				width: res(300, 320, 700, 1920);

				color: #5F596E;
			}

			&-text {
				margin-top: 30px;
				font-weight: 500;
				font-size: res(16, 320, 20, 1920);
				line-height: 20px;
				letter-spacing: 0.05em;
				width: res(230, 320, 700, 1920);
				color: #000;
			}

			&-btn {
				margin-top: 40px;
			}
		}

		&-img {
			position: absolute;
			right: res(-770, 320, -420, 1920);
			top: res(300, 320, 0, 1920);

		}
	}

	&__dec-img-1 {
		position: absolute;
		top: -60px;
		left: -35px;

		@include _1170 {
			display: none;
		};
	}
	&__dec-img-2 {
		position: absolute;
		top: 0;
		left: 50%;
	}
	&__dec-img-3 {
		position: absolute;
		top: res(170, 320, 70, 1920);
		right: -38px;
	}
	&__dec-img-4 {
		position: absolute;
		left: -16px;
		bottom: 20px;
	}
	&__dec-img-5 {
		position: absolute;
		bottom: 10px;
		left: 38%;
		transform: translate(-50%, 0);

		@include _1170 {
			display: none;
		};
	}
	&__dec-img-6 {
		position: absolute;
		right: 0;
		bottom: 160px;

		@include _1170 {
			display: none;
		};
	}


}