.features {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;


	&__content {
		padding-top: 130px;
		margin: 0 res(10, 320, 170, 1920);

		&-features {
			display: flex;
			justify-content: space-between;

			@include _1170 {
				flex-direction: column;
				align-items: center;
			};


			&-card {
				width: 305px;
				font-family: Poppins, sans-serif;


				@include _1170 {
					margin-bottom: res(30, 320, 100, 1170);

					&:last-child {
						margin-bottom: 0;
					}
				};

				.ico {
					display: flex;
					justify-content: center;
					margin-bottom: 32px;

					img {
						width: res(60, 320, 80, 1920);
					}
				}

				.title {
					font-weight: 500;
					font-size: res(20, 320, 24, 1920);
					line-height: perc(24, 24);
					text-align: center;
					color: #1E1E1E;
					margin-bottom: 18px;
				}

				.desc {
					font-weight: 400;
					font-size: 16px;
					line-height: perc(28, 16);
					text-align: center;
					color: #757575;
				}

				&:nth-child(2) {
					.ico {
						margin-bottom: 50px;
					}
				}
			}
		}
	}

	&__dec-img-1 {
		position: absolute;
		top: res(70, 320, 153, 1920);
		left: res(-110, 320, -40, 1920);

	}

	&__dec-img-2 {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}