.subscribe {
	padding-top: 100px;
	position: relative;

	&__content {
		background: #ADE5E5;
		margin: 0 120px;
		display: flex;
		justify-content: space-between;
		position: relative;
		overflow: hidden;

		@include _1170 {
			flex-direction: column-reverse;
			align-items: center;
			width: res(300, 320, 600, 1170);
			margin: 0 auto;
		};

		&-form {
			margin-left: 100px;
			margin-top: 67px;
			z-index: 2;
			font-family: Poppins, sans-serif;

			@include _1170 {
				margin-left: 0;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
			};

			&-desc {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 6px;
				text-transform: uppercase;
				color: #8785AA;
				margin-bottom: 12px;
			} 
			
			&-title {
				color: #1B1B1B;
				font-weight: 600;
				font-size: res(28, 320, 40, 1920);
				line-height: 52px;
				margin-bottom: 44px;
				width: 290px;

				@include _1170 {
					text-align: center;
				};
			}

			&-input {
				box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.01);
				height: 75px;
				width: 330px;
				background: #fff;
				border-radius: 2px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-left: 30px;
				padding-right: 13px;

				@include _1170 {
					width: 300px;
				};

				input {
					border: none;
					margin-right: 30px;
					width: 100%;

					font-family: Poppins, sans-serif;
					font-weight: 500;
					font-size: 16px;
					line-height: 22px;
					letter-spacing: 0.2px;
					text-transform: lowercase;
					color: #8d8a7a;

					@include _1170 {
						font-size: res(14, 320, 16, 1170);
					};

					&:focus {
						outline: none;
					}
				}
			}
		}

		&-img {
			display: block;
			margin-top: 20px;
			z-index: 2;

			@include _1170 {
				img {
					width: 300px;

				}
			};
		}
	}
	
	&__dec-img-1 {
		position: absolute;
		top: -26px;
		left: -119px;
		z-index: 1;
	} 
	&__dec-img-2 {
		position: absolute;
		top: 23px;
		right: 0;
	} 
	&__dec-img-3 {
		position: absolute;
		right: 82px;
		bottom: -148px;
		z-index: -1;

		@include _1170 {
			right: res(0, 320, 200, 1170);
		};
	}
}